.menu {
    background-color: $simpleBlue;
    width: 100%;
    max-height: 88px;
    position: relative;
    z-index: 2;
}

.menu__nav {
    font-size: 18px;
    margin: 0 auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.menu__nav-list {
    margin-top: 35px;
}

.menu__item-list {
    display: flex;
    list-style: none;
}

.menu__item {
    margin-right: 5px;
    margin-left: 50px;
}

.menu__link {
    color: $white;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
        color: $hoverGrey;
    }
}

.menu__logo {
    box-shadow: $dotColor 2px 3px 5px 1px;
    max-width: 233px;
    transition: 0.2s;

    &:hover {
        box-shadow: $dotColor 3px 4px 6px 2px;
    }
}

.menu__form-box {
    position: absolute;
    right: 20px;
    top: 35px;
}

.menu__input--hidden {
    display: none;
    width: 0px;
    background-color: $simpleBlue;
    color: $white;
    border: none;
    border-bottom: 1px solid $white;
    outline: none;

    &::placeholder {
        color: $white;
    }
}

.menu__input--appears {
    display: inline-block;
    animation: input_appears 0.2s linear both;
}

@keyframes input_appears {
    0% {
        width: 0px;
    }

    100% {
        width: 180px;
    }
}

.fa-search {
    color: $white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        color: $hoverGrey;
    }
}

.fa-times {
    display: none;
    color: $white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        color: $hoverGrey;
    }
}

@media(max-width: 1550px) {
    @keyframes input_appears {
        0% {
            width: 0px;
        }

        100% {
            width: 120px;
        }
    }
}

@media(max-width: 1450px) {
    .menu__nav {
        width: 800px;
        font-size: 16px;
    }

    .menu__logo-img {
        width: 180px;
    }

    @keyframes input_appears {
        0% {
            width: 0px;
        }

        100% {
            width: 100px;
        }
    }

    .menu__item {
        margin-right: 5px;
        margin-left: 30px;
    }

    .menu__form-box {
        top: 32px;
    }
}